.region-footer {
    padding-top: 50px;
}

footer {
	background: #181818;
	color: #fff;

	&.legal-text {
		background: #121212;
		padding: 40px 0;

		p {
			color: #818181;
			margin: 0;
			font-size: 0.7rem;
		}

		@include media-query(anchoMobile) {
			article {
				display: table-cell;
				vertical-align: middle;
				width: 48%;

				&.copy-right {
					text-align: right;
				}
			}
		}

		.container {
			padding: 0 15px;
		}
	}


	.container {
		padding: 0;

		@include media-query(anchoMobile) {
			display: table;
		}
	}


	h1 {
		font-size: 0.9rem;
		text-transform: uppercase;
		font-family: 'Latoregular', sans-serif;

		&:before {
			display: none;
		}
	}

	li {
		font-size: 0.8rem;
		font-family: 'Latolight', sans-serif;
	}
	p {
		font-size: 0.9rem;
		font-family: 'Latolight', sans-serif;

		@include media-query(anchoTablet) {
			font-size: 0.95rem;
		}
	}



	ul {
		padding: 0;

		li {
			display: block;
			padding: 5px 0;

			a {
				color: #818181;
				text-decoration: none;
				display: block;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
				&:focus {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

	figure {
		&.logo-andes {
			margin: 0 auto;
			text-align: center;
			padding: 40px;
			width: 230px;

			&:after {
				content: '';
				position: relative;
				display: block;
				bottom: -10px;
				height: 1px;
				width: 50%;
				margin: 0 auto;
				border-top: 1px solid #ffef00;
			}
		}
	}

	.item-footer {
		@include media-query(anchoMobile) {
			display: block;
			float: left;
			width: 38%;
			vertical-align: inherit;
			border-left: 1px solid #222222;
			padding: 15px;
		}
		@include media-query(anchoTablet) {
			height: 320px;
		}

		&.contact-info {
			padding-bottom: 40px;
			border-left: 0;


			.info-location {
				padding: 0 40px;
				font-size: 0.9rem;

				@include media-query(anchoMobile) {
					padding: 0 0 20px 0;
					text-align: center;
				}
			}


			.info-contact {
				background: #232323;
				padding: 20px 40px;
				margin: 40px 0 0;

				@include media-query(anchoMobile) {
					background: transparent;
					margin: 0;
					padding: 20px 0 0;
					text-align: center;
				}

				@include media-query(anchoTablet) {
					border-left: 1px solid #232323;
					padding: 0;
					vertical-align: top;
				}


				.txt-telephone {
					display: inline-block;
					padding-left: 5%;

					@include media-query(anchoMobile) {
						padding-left: 0;
					}

					a {
						color: #fff;
						text-decoration: none;
					}
				}

				&:before {
					content: '';
					display: inline-block;
					background: url('../img/ico-contact.png') no-repeat center;
					width: 25px;
					height: 30px;
					position: relative;
					top: -5px;


					@include media-query(anchoMobile) {
						display: none;
					}
				}
			}
		}

		&.quick-links {
			padding: 0 35px;
			position: relative;
			text-align: left;

			@include media-query(anchoMobile) {
				padding: 110px 15px 0;

				.item-footer-x2 {
					div {
						vertical-align: baseline;

						&:before {
							content: '';
							position: relative;
							display: block;
							top: -18px;
							height: 1px;
							width: 50%;
							border-top: 1px solid #ffef00;
						}
					}
				}
			}

			div {

				padding: 10px 0;

				&:first-child {
					padding: 0 0 10px;
				}
			}
		}

		&.s_networks {
			padding: 0 35px;
			text-align: left;

			@include media-query(anchoMobile) {
				padding: 120px 15px 0;
				width: 22%;

			}
		}


		.item-footer-x2 {
			@include media-query(anchoTablet) {
				display: table;
				width: 100%;
				margin: 0 auto;

				div {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}


		.footer-social-network {
			li {
				display: inline-block;
				padding: 2px;

				@include media-query(anchoMobile) {
					padding: 5px;
				}

				&.facebook {
					a {
						display: block;
						background: url('../img/fb.png') no-repeat center #536abb;
						width: 30px;
						height: 30px;
					}
				}
				&.twitter {
					a {
						display: block;
						background: url('../img/tw.png') no-repeat center #78caee;
						width: 30px;
						height: 30px;
					}
				}
				&.youtube {
					a {
						display: block;
						background: url('../img/yt.png') no-repeat center #e96349;
						width: 30px;
						height: 30px;
					}
				}
				&.google {
					a {
						display: block;
						background: url('../img/g.png') no-repeat center #4a4a4a;
						width: 30px;
						height: 30px;
					}
				}
				&.linkedin {
					a {
						display: block;
						background: url('../img/in.png') no-repeat center #2085c7;
						width: 30px;
						height: 30px;
					}
				}
			}

			.network-directory-footer {
				a {
					color: #fff;
					font-family: 'Latoregular', sans-serif;
					font-weight: bold;
					text-align: center;
					display: block;
					text-decoration: underline;
					padding-top: 10px;
				}
			}
		}
	}
}



#block-views-footer-block {

	display: none;

	@include media-query(anchoTablet) {
		display: block;
		padding: 30px 0;
		background: #181818;
		border-bottom: 1px solid #222222;

		footer {

			width: 870px;
			margin: 0 auto;
			padding: 0;

			&.links-uniandes {
				article {
					width: 25%;
					position: relative;
					float: left;
					list-style: none;

					figure {
						width: auto;
						float: left;
						position: relative;
						padding-right: 15px;
					}
					.txt-links {
						width: auto;
						float: left;
						position: relative;
						
						p {
							margin: 0;
							color: #b2b2b2;
							font-family: 'Latoregular', sans-serif;

							&.sub-title {
								color: #b2b2b2;
								font-weight: bold;
								font-size: 1.1rem;
							}
						}

						.color-bar {
							display: block;
							width: 50px;
							height: 2px;
							margin: 5px 0;
						}
					}
				}

				a {
					text-decoration: none;
				}
			}
		}
	}
}