.content-master-2 {
	.text_master-2 {
		.box-downtown {
			background: #f0eeee;
			padding: 0;
			margin: 50px 0;

			.content-box-downtown {
				text-align: center;
				background: #fff;
				width: 66%;
				margin: 0 auto;
				padding: 20px 15px;

				@include media-query(anchoMobile) {
					padding: 30px 50px;
				}

				.title-box-downtown {
					font-size: 1.2rem;
					margin: 0;

					@include media-query(anchoMobile) {
						font-size: 1.7rem;
					}

				}

				p {
					font-family: 'Crimson_textroman';
					font-size: 1rem;
				}
			}
		}

		.description-content {
			.paragraph-item {
				padding-bottom: 20px;

				@include media-query(anchoMobile) {
					width: 47%;
					float: left;
					margin: 0 10px;
					padding: 0 15px;
				}

				h2 {
					color: #24242b;
					font-size: 1.78rem;
					line-height: 1.7rem;
					margin-bottom: 5px;
					font-family: 'Crimson_textroman';

					&:after {
						content: '';
						display: block;
						background: #868686;
						width: 87px;
						height: 1px;
						margin: 10px 0;
					}
				}
				p {
					font-family: 'Crimson_textroman';
				}
			}
		}
	}
}