.node-webform {
  padding: 50px 15px;
}

.webform-client-form {
  .form-group {
   padding: 10px 0;
   margin: 0;

   @include media-query(anchoMobile) {
     width: 47%;
     float: left;
     margin: 0 10px;
   }

   input {
    &.form-control {
      border-radius: 0;
    }
  }

  &.webform-component-textarea {
    width: 100%;
    float: none;

    @include media-query(anchoMobile) {
      width: 97%;
    }

    @include media-query(anchoTablet) {
      width: 96%;
    }
  }
}


  /* Boton */

  .form-actions {
    padding-top: 30px;

    button {
      &.form-submit {
        padding: 10px 40px;
        margin: 0 auto;
        text-align: center;
        display: block;
        font-size: 0.85rem;
        max-width: 300px;
        font-family: 'Latobold', sans-serif;
        z-index: 10;
        position: relative;
        border: 1px solid #484851;
        color: #484851;
        background: #f1eeee;

        &:hover {
         background: #484851;
         color: #fff;
       }
     }
   }
 }

	  /* General */

	  ::-webkit-input-placeholder {
	  	color: #858585;
	  	font-weight: normal;
	  }
	  ::-moz-placeholder {
	  	color: #858585;
	  	font-weight: normal;
	  }
	  :-ms-input-placeholder {
	  	color: #858585;
	  	font-weight: normal;
	  }
	  :-moz-placeholder {
	  	color: #858585;
	  	font-weight: normal;
	  }

  /* Checkbox */

  .checkbox {
  	.control-label {
  		cursor: pointer;

  		input {
  			position: absolute;
  			z-index: -1;
  			opacity: 0;
  		}
  		.control__indicator {
  			position: absolute;
  			top: 2px;
  			left: 0;
  			height: 20px;
  			width: 20px;
  			background: url('../img/icon_check.png') center bottom no-repeat;

  			&:after {
  				content: '';
  				position: absolute;
  				display: none;
  			}
  		}
  		input:checked ~ .control__indicator {
  			background: url('../img/icon_checked.png') center top no-repeat;
  		}
  		input:checked ~ .control__indicator:after {
  			display: block;
  		}
  		&.control--checkbox .control__indicator:after {
  			left: 8px;
  			top: 4px;
  			width: 3px;
  			height: 8px;
  			border: solid #fff;
  			border-width: 0 2px 2px 0;
  			transform: rotate(45deg);
  		}
  	}
  }


  /* Radios */

  .radio {
  	.control-label {
  		display: block;
  		position: relative;
  		padding-left: 30px;
  		margin-bottom: 10px;
  		cursor: pointer;
  		font-size: 0.95rem;
  		line-height: 1.5;

  		input {
  			position: absolute;
  			z-index: -1;
  			opacity: 0;
  		}
  		.control__indicator {
  			position: absolute;
  			top: 2px;
  			left: 0;
  			height: 20px;
  			width: 20px;
  			border-radius: 100%;
  			border: 1px solid #ccc;

  			&:after {
  				content: '';
  				position: absolute;
  				display: none;
  			}
  		}
  		input:checked ~ .control__indicator {
  			background: url('../img/icon_checked.png') center -1px no-repeat;
  		}
  		input:checked ~ .control__indicator:after {
  			display: block;
  		}
  		&.control--checkbox .control__indicator:after {
  			left: 8px;
  			top: 4px;
  			width: 3px;
  			height: 8px;
  			border: solid #fff;
  			border-width: 0 2px 2px 0;
  			transform: rotate(45deg);
  		}
  	}
  }
}